.profile-image{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: solid 1rem #FCFDF2;
}

.user-data{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 2rem;
}

.info-box{
    background-color: white;
    border-radius: 1rem;
    width: 40%;
    height: 30%;
    padding-left: 1rem;
}

#name-img-box h4{
    font-family: 'Quicksand';
    font-weight: 800;
    color: black;

}

.info-box h3, p{
    text-align: left;
    margin: 0.5rem 0;
}

.info-box h3{
    color: #3b3486;
    font-size: 1rem;
    font-weight: 800;
}

#vertical-line{
    width: 0;
    height: 4rem;
    border-left: solid 2px #3b3486;
}

.follow-btn{
    background-color: #ffe9b1;
}

#bio-text{
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    
}

#user-bio h2, #user-posts h2{
   text-align: left;
   
}

#user-posts h2{
    width: 45%;
    margin-bottom: 0;
}

#user-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    
}

#user-posts-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#posts-container{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 60%;
    
}

